Trying to get all the Excel files into a CSV file that contains all the specific data for Austin Counties

In [2]:
import csv
import pandas as pd 
import glob

In [3]:
# https://stackoverflow.com/questions/3207219/how-do-i-list-all-files-of-a-directory


atx_zip_codes = []
for file in glob.glob("data/*.xls"):
    atx_zip_codes.append(file[17:22])
    
# Output list of Austin zip codes as strings
print(atx_zip_codes)
len(atx_zip_codes)

['78610', '78617', '78653', '78660', '78701', '78702', '78703', '78704', '78705', '78721', '78722', '78723', '78724', '78725', '78726', '78727', '78728', '78729', '78730', '78731', '78732', '78733', '78734', '78735', '78736', '78737', '78738', '78739', '78741', '78742', '78744', '78745', '78746', '78747', '78748', '78749', '78750', '78751', '78752', '78753', '78754', '78756', '78757', '78758', '78759']

45

In [4]:
# from https://stackoverflow.com/questions/48559356/how-to-convert-multiple-excel-sheets-to-csv-python
zip_code = '78701'
excel_file = 'data/ACS_Profile_' + zip_code + '.xls'
all_sheets = pd.read_excel(excel_file, sheet_name=None)
sheets = all_sheets.keys()

for sheet_name in sheets:
    sheet = pd.read_excel(excel_file, sheet_name=sheet_name)
    sheet.to_csv("data/%s_%s.csv" % (zip_code, sheet_name), index=False)

# Above resulted in converting the xls file to csv ... now to clean up the csv file

In [4]:
def convert_excel_csv_four_files(zip_code):
    excel_file = 'data/ACS_Profile_' + zip_code + '.xls'
    all_sheets = pd.read_excel(excel_file, sheet_name=None)
    sheets = all_sheets.keys()

    for sheet_name in sheets:
        sheet = pd.read_excel(excel_file, sheet_name=sheet_name)
        sheet.to_csv("data/%s_%s.csv" % (zip_code, sheet_name), index=False)

In [5]:
def convert_demographic_sheet_to_dataframe_row(zip_code):
    # This will open the CSV file and remove all the unwanted rows

    # Demographic Sheet (22)
    rows_to_keep = [8,9,10,11,12,13,14,15,16,17,18,19,20,21,34,37,60,62,63,64,65,66]

    lines = list()
    row_num = 1
    with open('data/' + zip_code + '_Demographic.csv', 'r') as readFile:
        reader = csv.reader(readFile)
        for row in reader:
            if row_num in rows_to_keep:
                lines.append(row)
            row_num = row_num + 1
    with open('data/' + zip_code + '_Demographic.csv', 'w') as writeFile:
        writer = csv.writer(writeFile)
        writer.writerows(lines)
        
    # Read in modified CSV file to create a wide row instance
    df = pd.read_csv('data/' + zip_code + '_Demographic.csv', header=None) 
    df = df.drop(df.columns[[2, 3]], axis=1) 
    df = df.T

    # Convert the first row to be the columns headers
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header

    # Add the zip code
    #df.insert(0, "Zip Code", zip_code, True)

    return df

In [6]:
def convert_housing_sheet_to_dataframe_row(zip_code):
    # This will open the CSV file and remove all the unwanted rows

    # Housing Sheet (38)
    # 8,10-11,14,19,21,22,23,27,30-37,53-57,61-64,86-88,92-100
    rows_to_keep = [8,10,11,14,19,21,22,23,27,30,31,32,33,34,35,36,37,53,54,55,56,57,61,62,63,64,86,87,88,92,93,94,95,96,97,98,99,100]

    lines = list()
    row_num = 1
    with open('data/' + zip_code + '_Housing.csv', 'r') as readFile:
        reader = csv.reader(readFile)
        for row in reader:
            if row_num in rows_to_keep:
                lines.append(row)
            row_num = row_num + 1
    with open('data/' + zip_code + '_Housing.csv', 'w') as writeFile:
        writer = csv.writer(writeFile)
        writer.writerows(lines)
        
    # Read in modified CSV file to create a wide row instance
    df = pd.read_csv('data/' + zip_code + '_Housing.csv', header=None) 
    df = df.drop(df.columns[[2, 3]], axis=1) 
    df = df.T

    # Convert the first row to be the columns headers
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header

    # Add the zip code
    #df.insert(0, "Zip Code", zip_code, True)

    return df

In [7]:
def convert_social_sheet_to_dataframe_row(zip_code):
    # This will open the CSV file and remove all the unwanted rows

    # Social Sheet (33)
    # 45-49,67,76-80,84-92,96,110,111,116,120,126,127,149,150,152,157,158,161
    rows_to_keep = [45,46,47,48,49,67,76,77,78,79,80,84,85,86,87,88,89,90,91,92,96,110,111,116,120,126,127,149,150,152,157,158,161]

    lines = list()
    row_num = 1
    with open('data/' + zip_code + '_Social.csv', 'r') as readFile:
        reader = csv.reader(readFile)
        for row in reader:
            if row_num in rows_to_keep:
                lines.append(row)
            row_num = row_num + 1
    with open('data/' + zip_code + '_Social.csv', 'w') as writeFile:
        writer = csv.writer(writeFile)
        writer.writerows(lines)
        
    # Read in modified CSV file to create a wide row instance
    df = pd.read_csv('data/' + zip_code + '_Social.csv', header=None) 
    df = df.drop(df.columns[[2, 3]], axis=1) 
    df = df.T

    # Convert the first row to be the columns headers
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header

    # Add the zip code
    # df.insert(0, "Zip Code", zip_code, True)

    return df

In [8]:
def convert_economic_sheet_to_dataframe_row(zip_code):
    # This will open the CSV file and remove all the unwanted rows

    # Economic Sheet (35)
    # 8-24, 49, 53-55, 62, 81,83,86,90,111-116,144-146
    rows_to_keep = [8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,49,53,54,55,62,81,83,86,90,111,112,113,114,115,116,144,145,146]

    lines = list()
    row_num = 1
    with open('data/' + zip_code + '_Economic.csv', 'r') as readFile:
        reader = csv.reader(readFile)
        for row in reader:
            if row_num in rows_to_keep:
                lines.append(row)
            row_num = row_num + 1
    with open('data/' + zip_code + '_Economic.csv', 'w') as writeFile:
        writer = csv.writer(writeFile)
        writer.writerows(lines)
        
    # Read in modified CSV file to create a wide row instance
    df = pd.read_csv('data/' + zip_code + '_Economic.csv', header=None) 
    df = df.drop(df.columns[[2, 3]], axis=1) 
    df = df.T

    # Convert the first row to be the columns headers
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header

    # Add the zip code
    # df.insert(0, "Zip Code", zip_code, True)

    return df

In [9]:
def build_dataframe_row(zip_code):
    convert_excel_csv_four_files(zip_code)

    df_d = convert_demographic_sheet_to_dataframe_row(zip_code)
    df_e = convert_economic_sheet_to_dataframe_row(zip_code)
    df_s = convert_social_sheet_to_dataframe_row(zip_code)
    df_h = convert_housing_sheet_to_dataframe_row(zip_code)

    df_concat = pd.concat([df_d, df_e, df_s, df_h], axis=1)
    # Add the zip code
    df_concat.insert(0, 'Zip Code', zip_code, True)
    
    return df_concat

In [10]:
df_row = build_dataframe_row('78701')
df_row

,Zip Code,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,...,1.51 or more,"Less than $50,000","$50,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 to $299,999","$300,000 to $499,999","$500,000 to $999,999","$1,000,000 or more","$2,000,000 or more"
1,78701,7875,22,-,55,47,667,3099,1028,910,...,66,-,3,42,78,97,687,513,141,141

In [11]:
def build_dataframe_full(list_zip_codes):
    
    df_rows = []
    
    for zip in list_zip_codes:
        row = build_dataframe_row(zip)
        df_rows.append(row)
        
    df_full = pd.concat([df_rows[0], df_rows[1]], axis=0)
    
    total = len(df_rows)-1
    
    for i in range(2,45):
        df_full = pd.concat([df_full, df_rows[i]], axis=0)
        
    return df_full

In [48]:
# atx_zip_codes
df_final = build_dataframe_full(atx_zip_codes)

df_final

,Zip Code,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,...,1.51 or more,"Less than $50,000","$50,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 to $299,999","$300,000 to $499,999","$500,000 to $999,999","$1,000,000 or more","$2,000,000 or more"
1,78610,32692,2475,2740,2286,2205,1905,5074,5304,3763,...,118,229,542,787,1902,3532,1393,295,15,79
1,78617,27900,2252,2401,2490,3034,2109,4057,4709,3338,...,210,775,1054,1384,1014,543,103,176,-,-
1,78653,20822,1824,2222,1702,1374,1030,3241,3337,2825,...,64,344,414,1347,1617,984,386,40,23,55
1,78660,85450,6171,6238,6966,6186,3847,14429,14724,12286,...,85,1047,620,3367,5871,8474,1792,183,19,113
1,78701,7875,22,-,55,47,667,3099,1028,910,...,66,-,3,42,78,97,687,513,141,141
1,78702,22876,1313,1453,872,999,1533,6140,3664,2446,...,280,239,139,329,509,891,1500,562,14,-
1,78703,20788,1370,1186,1086,661,861,4915,3426,2492,...,39,41,65,61,28,301,697,2291,1258,309
1,78704,47158,2546,2013,1694,1681,3345,15076,7783,5221,...,276,167,171,147,294,886,2781,3071,403,50
1,78705,33075,229,241,187,10410,15017,4300,1031,615,...,162,14,15,17,28,161,298,298,59,-
1,78721,12447,632,742,706,669,1001,2548,2016,1629,...,46,73,245,278,477,899,438,8,-,9
1,78722,7254,465,363,181,78,467,2378,1391,534,...,35,3,12,11,75,351,717,221,23,6
1,78723,33170,2517,2403,2054,1356,2003,7061,5502,3801,...,514,196,179,437,694,1678,1662,472,26,8
1,78724,24833,2511,2537,2400,2314,1605,4243,4279,2351,...,223,739,825,771,794,409,190,105,14,-
1,78725,7517,444,632,567,439,322,1306,1404,1088,...,14,170,189,820,556,224,74,-,-,-
1,78726,14610,830,854,1287,1260,1033,2396,2534,2180,...,17,103,-,-,-,228,1561,677,-,-
1,78727,28999,2020,1202,960,1475,1311,6873,5054,3766,...,67,69,49,448,1151,2688,1538,211,7,18
1,78728,21245,1613,1283,919,818,1342,4985,3552,2640,...,74,60,42,228,1006,1310,192,-,-,-
1,78729,29434,2128,1629,1305,878,2545,6766,4716,4139,...,105,94,23,312,1168,2777,1012,40,-,-
1,78730,8933,312,538,748,615,290,1345,1214,1733,...,26,77,-,31,119,96,303,1215,338,55
1,78731,27447,1589,1394,1415,1213,1638,5452,3142,3433,...,72,83,83,187,101,405,1886,3760,387,144
1,78732,17762,1165,1650,2519,1189,317,1198,3546,2661,...,-,31,-,45,29,215,1962,1951,104,132
1,78733,8754,686,798,757,681,162,576,1382,1652,...,-,34,48,60,78,193,815,918,382,117
1,78734,18722,1020,999,1373,1028,391,1557,2584,2975,...,8,99,201,219,301,1020,2419,1347,280,43
1,78735,17919,1164,1362,1093,868,600,3175,2402,2653,...,50,141,36,28,223,277,1544,945,382,259
1,78736,8199,448,633,446,398,261,1090,1186,1176,...,16,162,64,77,233,598,948,352,24,14
1,78737,15879,1073,1175,1442,966,464,1003,2924,2702,...,-,82,43,60,60,727,2872,947,88,15
1,78738,15746,590,1227,1738,1307,253,1010,2849,2869,...,20,31,5,-,37,221,1914,1945,187,-
1,78739,20191,1520,2439,1850,1077,407,1175,4098,3586,...,1,64,-,-,1,543,4124,1312,-,-
1,78741,52307,3259,2436,2512,3100,9808,14959,6292,4974,...,465,520,485,438,546,607,405,89,-,17
1,78742,517,15,15,-,41,48,81,26,71,...,-,39,47,17,12,11,-,-,-,-
1,78744,48432,4110,4452,4215,3258,3690,9651,7380,5891,...,427,919,1256,2118,1211,871,124,10,-,-
1,78745,62220,3797,3205,2587,2234,3758,15002,10390,7478,...,531,184,342,1318,2647,4890,2294,214,-,42
1,78746,28268,1188,2092,2441,1853,743,3033,4035,4754,...,11,98,65,84,62,128,915,3866,1919,628
1,78747,20954,1701,1499,1552,1335,1629,3672,3171,2228,...,12,356,178,738,964,1537,729,94,-,34
1,78748,49142,3611,2655,2422,2344,3028,11249,8453,6262,...,99,198,120,683,2335,5600,2319,147,-,-
1,78749,37453,2538,2207,2169,1751,1514,7214,6356,5966,...,54,100,42,38,899,3755,4198,374,-,11
1,78750,30758,1645,2201,2237,1761,1304,4246,4941,4730,...,44,91,61,332,847,1570,2825,1650,-,15
1,78751,14949,628,338,350,260,2445,5569,2114,1513,...,123,27,24,65,87,382,861,753,19,11
1,78752,20302,1663,1680,1142,862,1349,5847,2909,1893,...,396,89,69,164,388,902,519,34,-,-
1,78753,58693,5046,4349,3972,3329,4005,13321,9443,6591,...,900,817,656,1621,2134,1523,336,31,-,-
1,78754,23858,2534,1616,1547,1240,1238,4946,4653,2489,...,209,290,221,592,1233,1497,133,-,21,-
1,78756,8377,428,252,346,226,339,2479,1377,1068,...,20,42,15,92,68,133,782,869,39,-
1,78757,24059,1858,1195,1103,750,1145,5005,4347,3293,...,166,61,125,156,408,1418,2968,828,30,15
1,78758,46618,3849,3026,2106,1749,3121,12702,7338,5104,...,587,202,348,1355,1304,1806,470,31,14,13
1,78759,41847,2378,2107,1868,1511,1594,7908,6796,6109,...,49,149,69,212,456,1681,4482,2192,92,24

In [49]:
df_final = df_final.astype(str)

In [50]:
#df_final[0] = df_final[0].str.strip()
df_final = df_final.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [51]:
df_final.columns = [x.strip() for x in df_final.columns]

In [52]:
df_final.to_csv('atxdata.csv', index=False)

In [27]:
# Scratch work: Has been written as function build_dataframe_row
convert_excel_csv_four_files('78701')

df_d = convert_demographic_sheet_to_dataframe_row('78701')
df_e = convert_economic_sheet_to_dataframe_row('78701')
df_s = convert_social_sheet_to_dataframe_row('78701')
df_h = convert_housing_sheet_to_dataframe_row('78701')

df_concat = pd.concat([df_d, df_e, df_s, df_h], axis=1)
# Add the zip code
df_concat.insert(0, 'Zip Code', zip_code, True)

df_concat.head()

,78701,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,...,1.51 or more,"Less than $50,000","$50,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 to $299,999","$300,000 to $499,999","$500,000 to $999,999","$1,000,000 or more","$2,000,000 or more"
1,78701,7875,22,-,55,47,667,3099,1028,910,...,66,-,3,42,78,97,687,513,141,141

In [19]:
# This will open the CSV file and remove all the unwanted rows


### Demographic Sheet
rows_to_keep = [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 34, 37, 60, 62, 63, 64, 65, 66]

lines = list()
row_num = 1
with open('data/78701_Demographic.csv', 'r') as readFile:
    reader = csv.reader(readFile)
    for row in reader:
        if row_num in rows_to_keep:
            lines.append(row)
        row_num = row_num + 1
with open('data/78701_Demographic.csv', 'w') as writeFile:
    writer = csv.writer(writeFile)
    writer.writerows(lines)

In [27]:
# Read in modified CSV file to create a wide row instance

df = pd.read_csv('data/78701_Demographic.csv', header=None) 
df = df.drop(df.columns[[2, 3]], axis=1) 
df = df.T

new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

df.insert(0, "Zip Code", '78701', True)

df.head()

,Zip Code,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,...,75 to 84 years,85 years and over,Male,Female,Hispanic or Latino of any race,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone
1,78701,7875,22,-,55,47,667,3099,1028,910,...,221,48,4667,3208,1243,5658,333,21,520,-

In [ ]:
### Economic Sheet
8-24
rows_to_keep = [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 34, 37, 60, 62, 63, 64, 65, 66]

lines = list()
row_num = 1
with open('data/78701_Demographic.csv', 'r') as readFile:
    reader = csv.reader(readFile)
    for row in reader:
        if row_num in rows_to_keep:
            lines.append(row)
        row_num = row_num + 1
with open('data/78701_Demographic.csv', 'w') as writeFile:
    writer = csv.writer(writeFile)
    writer.writerows(lines)